In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Housing = pd.read_csv('housing.csv')
Housing.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1814,-122.31,37.91,43.0,2549.0,511.0,1060.0,528.0,3.6417,178400.0,NEAR BAY
5295,-118.44,34.07,35.0,1973.0,332.0,1257.0,296.0,8.9565,500001.0,<1H OCEAN
19640,-120.79,37.53,20.0,1417.0,263.0,853.0,263.0,3.3083,108300.0,INLAND
2507,-120.51,36.86,21.0,1779.0,399.0,1446.0,371.0,2.4414,71900.0,INLAND
2267,-119.82,36.79,18.0,5822.0,1439.0,3415.0,1224.0,1.6854,64700.0,INLAND

In [3]:
Housing = Housing.dropna()

In [5]:
Housing.shape

(20433, 10)

In [6]:
Housing.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000
mean,-119.570689,35.633221,28.633094,2636.504233,537.870553,1424.946949,499.433465,3.871162,206864.413155
std,2.003578,2.136348,12.591805,2185.269567,421.385070,1133.208490,382.299226,1.899291,115435.667099
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1450.000000,296.000000,787.000000,280.000000,2.563700,119500.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.536500,179700.000000
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.000000,604.000000,4.744000,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [7]:
Housing.loc[Housing['median_house_value'] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [8]:
Housing = Housing.drop(Housing.loc[Housing['median_house_value'] == 500001].index)

In [9]:
Housing.shape

(19475, 10)

In [10]:
Housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [11]:
Housing['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [12]:
Housing = pd.get_dummies(Housing, columns=['ocean_proximity'])

In [13]:
Housing.shape

(19475, 14)

In [14]:
Housing.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
112,-122.25,37.82,26.0,3959.0,1196.0,1749.0,1217.0,3.0233,255000.0,0,0,0,1,0
9158,-118.44,34.50,5.0,1514.0,220.0,1355.0,215.0,8.1344,359000.0,0,1,0,0,0
7734,-118.15,33.93,30.0,3096.0,628.0,1676.0,587.0,4.6583,207300.0,1,0,0,0,0
9868,-121.84,36.60,30.0,2958.0,691.0,1616.0,666.0,3.4643,191800.0,1,0,0,0,0
10364,-117.68,33.61,19.0,2962.0,405.0,1295.0,440.0,6.0689,248000.0,1,0,0,0,0

In [15]:
median = Housing['median_house_value'].median()
median

173800.0

# Calculate the houses that have higher median value than the overall value

In [16]:
Housing['above_median'] = (Housing['median_house_value'] - median) >0

In [17]:
Housing.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
6493,-118.02,34.08,28.0,2769.0,631.0,2452.0,581.0,2.6071,175900.0,0,1,0,0,0,True
9171,-118.66,34.43,9.0,2356.0,469.0,1556.0,386.0,3.7750,155000.0,0,1,0,0,0,False
20349,-119.08,34.17,32.0,166.0,22.0,63.0,29.0,7.3004,125000.0,0,0,0,0,1,False
19608,-121.12,37.48,5.0,4109.0,820.0,3062.0,713.0,3.2396,125200.0,0,1,0,0,0,False
6404,-118.03,34.14,31.0,4353.0,1117.0,2338.0,1037.0,3.0727,242600.0,0,1,0,0,0,True

# Machine Learning Phase

In [20]:
X = Housing.drop(['median_house_value', 'above_median'], axis=1)
Y = Housing['above_median']

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [23]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [24]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [25]:
y_train.shape, y_test.shape

((15580,), (3895,))

Train a Logistic Regression Model

In [26]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(solver ='liblinear').fit(x_train, y_train)

In [27]:
print("Training_score : ", logistic_model.score(x_train, y_train))

Training_score :  0.8205391527599486

In [28]:
y_pred = logistic_model.predict(x_test)

In [29]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})
df_pred_actual.head(10)

       predicted  actual
8785        True    True
278        False   False
12954      False   False
2627       False   False
3144       False   False
798         True    True
9634       False   False
15080       True   False
18050       True    True
11372       True    True

In [30]:
from sklearn.metrics import accuracy_score

print ("Testing_Score : ", accuracy_score(y_test, y_pred))

Testing_Score :  0.8225930680359436

# END